In [1]:
import pandas as pd
import numpy as np
import os
import kagglehub

path = kagglehub.dataset_download(
    "julian3833/jigsaw-toxic-comment-classification-challenge"
)

df = pd.read_csv(os.path.join(path, "train.csv"))

abuse_cols = [
    'toxic','severe_toxic','obscene',
    'threat','insult','identity_hate'
]

df['abuse_flag'] = df[abuse_cols].max(axis=1)
df['abuse_type_count'] = df[abuse_cols].sum(axis=1)

df.info()
df.isnull().sum()

Downloading from https://www.kaggle.com/api/v1/datasets/download/julian3833/jigsaw-toxic-comment-classification-challenge?dataset_version_number=1...

100%|██████████| 53.4M/53.4M [00:00<00:00, 200MB/s]

Extracting files...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159571 entries, 0 to 159570
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                159571 non-null  object
 1   comment_text      159571 non-null  object
 2   toxic             159571 non-null  int64
 3   severe_toxic      159571 non-null  int64
 4   obscene           159571 non-null  int64
 5   threat            159571 non-null  int64
 6   insult            159571 non-null  int64
 7   identity_hate     159571 non-null  int64
 8   abuse_flag        159571 non-null  int64
 9   abuse_type_count  159571 non-null  int64
dtypes: int64(8), object(2)
memory usage: 12.2+ MB

id                  0
comment_text        0
toxic               0
severe_toxic        0
obscene             0
threat              0
insult              0
identity_hate       0
abuse_flag          0
abuse_type_count    0
dtype: int64

In [2]:
df.to_csv("/content/abuse_cleaned.csv", index=False)